.panel.panel-default
  .panel-heading
    %h3.panel-title
      &nbsp
      = content_for :task_list_header
  %table.table.table-striped.table-hover.hide-buttons
    %thead
      %tr
        %th.col-sm-7 Наименование
        %th.col-sm-1 Статус
        %th.col-sm-2 Создано
        %th.col-sm-2 Завершено
    %tbody.rowlink{'data-link'=>'row'}
      - tasks.each do |task|
        %tr
          %td
            - if task.is_owner?(current_user)
              =link_to edit_task_path(task), class:'button pull-right' do
                %span.glyphicon.glyphicon-pencil
            =link_to task.title, task_path(task)
          %td=task.human_state_name
          %td=task.when_created
          %td=task.when_finished
