= form_for([@task, @task.comments.new], html: {role: 'form'}) do |f|
  .row
    = f.text_area :content, class:'col-sm-10', placeholder: "Написать новый комментарий..."
    = f.submit class:'btn btn-default pull-right'
