%ul.nav.nav-pills.nav-stacked
  %li.project-link.active=link_to 'Все задачи', task_list_all_path
  %li.project-link=link_to 'Без проектов', task_list_without_project_path
  - current_user.own_projects.each do |project|
    %li.project-link=link_to project.title, task_list_path(project)
  - current_user.anothers_projects.each do |project|
    %li.project-link=link_to project.title, task_list_path(project)
