%ul.nav.nav-pills.nav-stacked
  =project_link_to (@project == :all), 'Все задачи', tasks_path
  =project_link_to (@project == :empty), 'Без проектов', without_project_tasks_path
  - current_user.projects_sorted.each do |project|
    =project_link_to (@project == project), project.title, project_tasks_path(project)
