.panel.panel-default
  .panel-heading
    %h3.panel-title
      Беcпроектные задачи
      =link_to new_task_path, class: 'btn btn-default btn-xs pull-right' do
        %span.glyphicon.glyphicon-plus
        Добавить задачу    
  %table.table.table-striped.table-hover.hide-buttons
    %thead
      %tr
        %th.col-sm-7 Наименование
        %th.col-sm-1 Статус
        %th.col-sm-2 Создано
        %th.col-sm-2 Завершено
    %tbody
      =render partial:'projects/tasks/tasks', locals: {tasks: tasks}
