.page-header
  %h1
    =@task.title
    - if @task.is_owner?(current_user)
      =link_to edit_task_path(@task), class: 'btn btn-default btn-sm pull-right' do
        %span.glyphicon.glyphicon-pencil
      =link_to task_path(@task), confirm: 'Вы точно хотите удалить эту задачу?', method: :delete,
                                        class: 'btn btn-default btn-sm pull-right' do
        %span.glyphicon.glyphicon-trash
.row
  .col-sm-10
    - unless @task.is_owner? current_user
      %p
        %b Автор:
        = @task.owner.name
    %p
      %b Создано:
      = l @task.created_at, format: :long
    %p
      %b Статус:
      = @task.human_state_name
    %p
      = raw @task.description
  .col-sm-2
    .btn-group
      - case (@task.state)
        - when 'new'
          =link_to 'Начать', task_status_start_path(@task), method: :post, class: 'btn btn-primary'
        - when 'in_work'
          =link_to 'Завершить', task_status_finish_path(@task), method: :post, class: 'btn btn-primary'
        - when 'finished', 'suspended'
          =link_to 'Возобновить', task_status_reopen_path(@task), method: :post, class: 'btn btn-primary'
      %button.btn.btn-primary.dropdown-toggle{data:{toggle:'dropdown'}}
        %span.caret
      %ul.dropdown-menu{role:'menu'}
        %li=link_to 'Начать', task_status_start_path(@task), method: :post
        %li=link_to 'Завершить', task_status_finish_path(@task), method: :post
        %li=link_to 'Возобновить', task_status_reopen_path(@task), method: :post
        %li=link_to 'Отложить', task_status_suspend_path(@task), method: :post
=render '/comments/comments_list'
=render '/comments/comment_form'






