.panel.panel-default
  .panel-heading
    %h3.panel-title
      Список задач проекта:
      =link_to project_new_task_path(project_id: project.id), class: 'btn btn-default pull-right btn-xs' do
        %span.glyphicon.glyphicon-plus
        Добавить задачу

  .panel-body
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th.col-sm-2 Дата создания
          %th.col-sm-2 Автор
          %th.col-sm-6 Наименование
          %th.col-sm-1 Статус
      %tbody
        - tasks.each do |task|
          %tr
            %td=l task.created_at, format: :short
            %td=task.owner.name
            %td=link_to task.title, task_path(task)
            %td=task.human_state_name
