.panel.panel-default
  .panel-heading
    %h3.panel-title
      Список задач проекта:
      =link_to project_new_task_path(project_id: project.id), class: 'btn btn-default pull-right btn-xs' do
        %span.glyphicon.glyphicon-plus
        Добавить задачу

  %table.table.table-striped.table-hover
    %thead
      %tr
        %th.col-sm-2 Автор
        %th Наименование
        %th.col-sm-1 Статус
        %th.col-sm-2 Cоздано
        %th.col-sm-2 Завершено
    %tbody
      - tasks.each do |task|
        %tr
          %td=task.owner.name
          %td=link_to task.title, task_path(task)
          %td=task.human_state_name
          %td=task.when_created
          %td=task.when_finished