.page-title
  %h1
    =@project.title
    - if @project.is_owner?(current_user)
      =link_to edit_project_path(@project), class: 'btn btn-default btn-sm pull-right' do
        %span.glyphicon.glyphicon-pencil
      =link_to project_path(@project), data: {confirm: 'Вы точно хотите удалить этот проект?'}, method: :delete,
                                        class: 'btn btn-default btn-sm pull-right' do
        %span.glyphicon.glyphicon-trash
%br
.row
  .col-sm-8
    - content_for :task_list_header do
      Список задач проекта:
      =link_to project_new_task_path(@project), class: 'btn btn-default btn-xs pull-right' do
        %span.glyphicon.glyphicon-plus
        Добавить задачу
    = render partial: 'task_list/tasks_wo_project', locals: {tasks: @tasks}
  .col-sm-4
    = render partial: 'users_list', locals: {project: @project}
